/game_options.txt
/jobs.txt
/maps.txt
/motd.txt
/silicon_laws.txt
/tips.txt
/whitelist.txt
/access levels.txt
/admin_nicknames.txt
/admin_ranks.txt
/admins.txt
/awaymissionconfig.txt
/config.txt
/dbconfig.txt
/external_rsc_urls.txt
